body {
  padding: 10px 100px;
  font-family: sans-serif;
}
ul {
  margin: 0;
}
.chat {
  border: 1px solid;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.onlineUsers, .userGrid {
  border: 1px solid;
}
.time {
  color: gray;
  font-size: 0.8rem;
}
.chatName {
  color: blue;
  font-weight: bold;
}
input {
  width: 300px;
}